name: cupcake
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  connectivity_plus: ^7.0.0
  flutter_riverpod: ^3.0.3
  cached_network_image: ^3.4.1
  elegant_notification: ^2.4.3
  intl: ^0.20.2
  custom_navigation_bar: ^0.8.2
  shared_preferences: ^2.5.3
  permission_handler: ^12.0.0+1
  uuid: ^4.5.1
  flutter_svg: ^2.1.0
  lottie: ^3.3.1
  shimmer: ^3.0.0
  http: ^1.6.0
  flutter_dotenv: ^6.0.0
  google_generative_ai: ^0.4.7
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  image_picker: ^1.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - .env
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700